@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(241 245 249);
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.swiper-3d .swiper-slide-shadow {
  background: none !important;
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: none !important;
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: none !important;
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: none !important;
}

.swiper-wrapper {
  overflow: hidden;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.youtube {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}